<div class="text-right">
    <h1 class=" fs-1 fw-bold mb-30"> سياسة الخصوصية </h1>
    <h2>نحن نحترم خصوصيتك</h2>
    <h2>.من خلال زيارتك للموقع مباشرةً أو عن طريق موقعٍ أخر ، فأنتَ توافق على سياسة الخصوصية الخاصة بموقعنا</h2>
    <h2>تتعامل مجموعة العربى بحرص فيما يتعلق بخصوصيتك على الإنترنت وتسعى لتحقيق ذلك ، حيث تحاول مجموعة العربى التعامل مع معلوماتك التي نتلقاها على الإنترنت بعناية بالغة تحت أي ظروف -</h2>
    <h2>والتأكد من أن المعلومات التي ترسلها يتم استخدامها والكشف عنها فقط للأغراض والوسائل المخصصة لها وأي من المعلومات التي يتم جمعها بهذا الموقع سيتم الحفاظ عليها بأكبر قدر من العناية</h2>
    <h2>.ولن يتم استخدامها إلا فى الغرض الذي جمعت من أجله وقد تستخدم هذه المعلومات فى استطلاعات الرأي وأبحاث التسويق والإعلان عن عروضنا والأغراض التسويقية</h2>
    <h2>حماية بياناتك من الأمور الهامة لدينا لذلك يتم استخدام أسمك وغيره من المعلومات التي تتعلّق بك وفقاً للّنحو المُبيّن في سياسة الخصوصية وسنقوم بجمع المعلومات عند الضرورة أو إذا كانت -</h2>
    <h2>.ذات صلة بتعاملك معنا</h2>
    <h2>.ويمكنك تصفح موقعنا الالكتروني بدون تقديم أي بيانات شخصية وبذلك ستبقي هويّتك الشخصية مجهولة في ذاك الوقت ، ويتم الكشف عنها في حالة تسجيل حساب على موقعنا أو تسجيل طلب شراء -</h2>
    <h2>.وقد يتم إعطاء اسمك وعنوانك ورقم هاتفك إلى طرفٍ ثالث بهدف تسليم طلب شرائك وتحصيل قيمته - </h2>
    <h2>البيانات الشخصية التى يتم جمعها على الموقع الالكتروني</h2>
    <h2>: المعلومات المطلوبة لشراء منتج * </h2>
    <h2>.فعندما تقوم بتسجيل طلب شراء من خلال موقعنا الالكتروني نقوم بسؤالك عن اسمك وعنوانك ورقم هاتفك وعنوان بريدك الالكتروني وأي معلومات أخرى ضرورية لاستكمال الطلب الخاص بك وتنفيذه</h2>
  
</div>