<div class="text-right">
<h1 class=" fs-1 fw-bold mb-30">الشروط والأحكام</h1>
<h3 >-:ترحب شركة المهندس بزيارتك لهذا الموقع ونسعد بتقديم جميع المعلومات والخدمات ، وفيما يلي البنود والقيود القانونية المفروضة على جميع زائري هذا الموقع والمواقع ذات الصلة </h3>
<h3> .يشير دخولك على الموقع إلى معرفتك وقبولك بهذه البنود والشروط وموافقتك عليها كاملة وهو تأكيد منك بالالتزام بمضمون تلك الشروط الخاصة بمجموعة شركات ومصانع المهندس وموقعها الالكتروني -</h3>
<h3>.لا يحق تسجيل عضوية لمن هم دون الـ 18 عام ولموقع مجموعة المهندس الحق بإلغاء أي عضوية لأى عضو لم يتجاوز الـ 18 عام -</h3>
<h3>.عند التسجيل على الموقع تكون ملتزماً بإمدادنا ببعض المعلومات الخاصة بإكمال عملية التسجيل وبإدراج كلمة سر خاصة بك وعند قبول الطلب ستكون عضواً علي الموقع الالكتروني -</h3>
<h3>.الموقع غير مسئول عن حفاظك علي سرية المعلومات وكلمة السر الخاصة بك ، في حالة أنك قمت بإعطائها لشخص آخر وفي حالة وجود أي عمليات قد تكون غير موثوقة فللموقع الحق في إيقاف الحساب نهائياً دون الرجوع إليك -</h3>
<h3>.يلتزم موقع المهندس جروب بالحفاظ الكامل علي سرية جميع البيانات الخاصة بكل العملاء المسجلين على الموقع ولا يتم تزويد أي جهة بأي معلومات خاصة عن حسابك إلا الأسم ورقم التليفون والعنوان وذلك في حالة قيامك بأي عملية شراء -</h3>
<h3>.يحظر بشدة أي استخدام أو إعادة إنتاج غير مصرح به للمعلومات والخدمات والمواد وحقوق الملكية التي يتضمنها هذا الموقع وحقوق الغير أو التى تخالف النظام العام أو الآداب العامة أو الملكية الفكرية لحقوق الغير -</h3>
<h3>.توصي مجموعة المهندس عملائها الكرام التأكد من شروط وأحكام القيود القانونية للمواقع الأخرى والتى قد يتضرر منها الغير من خلال موقع مجموعة المهندس والتي تخلي مجموعة المهندس مسئوليتها من ذلك طبقاً للفقرة السابقة -</h3>
<h3>.في حال شعورك بالقلق على بياناتك يحق لك طلب الوصول إلى البيانات الشخصية التي نحملها عنك أو سبق ونقلتها إلينا ، ويحق لك أن تطلب تصحيح أي أخطاء في بياناتك الشخصية ويتم ذلك مجاناً -</h3>
<h3>.تُفسَّر هذه الشروط والأحكام وتُطبَّق بموجب القوانين السارية في جمهورية مصر العربية وبموجب ذلك يوافق كل طرف على المثول أمام هيئات المحاكم القضائية في جمهورية مصر العربية والتنازل عن أي اعتراضات تتعلق بالمكان -</h3>

</div>