<div class="text-right">
    <h1 class=" fs-1 fw-bold mb-30">سياسة البيع</h1>
    <h2>:سياسة البيع عن طريق الموقع الالكتروني</h2>
    <h2 class="mt-30 mb-30">الهدف الرئيسي لشركة العربى من إتاحة البيع عن طريق موقعها الالكترونى هو الوصول إلى المستخدم النهائي فقط فهو مخصص ومقصور على الاستخدام الشخصي
        ‘وليس البيع التجارى أو الموزعين ، لذلك يحق للشركة إلغاء أي طلبات شراء يتضح أنها خاصة بموزعين أو فى حالة تكرار تسجيل طلبات شراء على نفس المنتجات أكثر من مرة ، أو تسجيل طلب شراء لشخص أخر ، ولنا الحق أيضاً فى وضع قيود على عدد المنتجات المباعة والمسجلة بطلب الشراء</h2>
    <h2 class="mt-30 mb-30"> نحرص على توفير أدق المعلومات المتعلقة بالأسعار لجميع المستخدمين الذين يزورون الموقع الالكتروني إلّا أنَّ الأخطاء قد تكون واردة في بعض الأحيان كالحالات التي لا يتم فيها تحديد سعر المنتج بشكلٍ صحيحٍ على الموقع ومن ثمّ فنحتفظ بالحقّ في رفض أو إلغاء أي طلب من الطلبات التى يتم تسجيلها على موقعنا على منتج مسجل بسعر خطأ أو مسجل عن طريق الخطأ على عرض انتهى بالفعل ، ويتم تنفيذ الطلب فقط فى حالة تعديل السعر إلى السعر الصحيح وموافقة العميل على ذلك</h2>

</div>