

<!-- Popular Locations End -->
<!--? Services Area Start -->
<div class="categories-area section-padding40 gray-bg text-right">
    <div class="container-fluid text-right">
        <div class="row text-right">
            <div class="col-lg-3 col-md-6 col-sm-6 text-right">
                <div class="single-cat mb-50 wow float-right fadeInUp text-right" data-wow-duration="1s" data-wow-delay=".2s">
                    <div class="cat-icon ml-50">
                        <img  src="assets/img/icon/services1.svg" alt="" >
                    </div>
                    <div class="cat-cap">
                        <h5>توصيل مجاني وسريع</h5>
                        <p>توصيل مجاني لجميع الطلبات</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-cat float-right mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                    <div class="cat-icon ml-50">
                        <img src="assets/img/icon/services2.svg" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5>توصيل مجاني وسريع</h5>
                        <p>توصيل مجاني لجميع الطلبات</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-cat float-right mb-30 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                    <div class="cat-icon ml-50">
                        <img src="assets/img/icon/services3.svg" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5>توصيل مجاني وسريع</h5>
                        <p>توصيل مجاني لجميع الطلبات</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-cat float-right wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                    <div class="cat-icon ml-50">
                        <img  src="assets/img/icon/services4.svg" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5>توصيل مجاني وسريع</h5>
                        <p>توصيل مجاني لجميع الطلبات</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--? Services Area End -->

<footer>
  <!-- Footer Start-->
  <div class="footer-area footer-padding text-right">
      <div class="container-fluid ">
          <div class="row d-flex justify-content-between">
              <div class="col-xl-3 col-lg-3 col-md-8 col-sm-8">
               <div class="single-footer-caption mb-50">
                
      </div>
  </div>

  <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
      <div class="single-footer-caption mb-50">
          <div class="footer-tittle">
              <h4>خدمة العملاء</h4>
              <ul>
                  <li><a href="/condition">الشروط الرئيسية</a></li>
                  <li><a href="/privacy">سياسة الخصوصية</a></li>
                  <li><a href="/commonQuestion">الاسئلة الشائعة</a></li>
                  <li><a href="/salesPolicy">سياسة البيع</a></li>
                  <li><a href="/about">من نحن</a></li>

                  <li><a href="/contact">اتصل بنا</a></li>
              </ul>
          </div>
      </div>
  </div>


  <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
      <div class="single-footer-caption mb-50">
          <div class="footer-tittle">
              <h4>الفئات الرئيسية</h4>
              <ul>
                  <li><a routerLink="/electronics">أجهزة كهربائية</a></li>
                  <li><a routerLink="/houseware">أدوات منزلية</a></li>
                  <li><a routerLink="/mattress">مفروشات</a></li>
                  <li><a routerLink="/products">جميع المنتاجات</a></li>
              </ul>
          </div>
      </div>
  </div>




  <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4">
      <div class="single-footer-caption mb-50">
          <div class="footer-tittle">
              <h4>من نحن</h4>
              <ul>
                 <p style="color: rgb(250, 240, 240);">+201000000</p>
                  <p style="color: rgb(250, 240, 240);">مصر-المنيا</p>
              </ul>
          </div>
      </div>
  </div>
</div>
</div>
</div>
<!-- footer-bottom area -->
<div class="footer-bottom-area">
  <div class="container">
      <div class="footer-border">
         <div class="row d-flex align-items-center">
             <div class="col-xl-12 ">
                 <div class="footer-copy-right text-center">
                     <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                       2022 &copy;<script>document.write(new Date().getFullYear());</script>  جميع الحقوق محفوظة لشركة المهندس
                                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End-->
</footer>

<!--? Search model Begin -->
<div class="search-model-box">
  <div class="h-100 d-flex align-items-center justify-content-center">
      <div class="search-close-btn">+</div>
      <form class="search-model-form">
          <input type="text" id="search-input" placeholder="Searching key.....">
      </form>
  </div>
</div>
<!-- Search model end -->
<!-- Scroll Up -->
<div id="back-top" >
  <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>