<div class="accordion text-right">

    <div class="accordion-item mb-40 text-right">

        <div class="alert alert-secondary fw-bold fs-1">
            مصروفات التوصيل

        </div>

        <div class="accordion-collapse collapse show ">
            <div class="accordion-body">
                <h2>التوصيل مجاني لكل محافظات مصر بدون اي مصاريف</h2>
            </div>
        </div>

    </div>


    <div class="accordion-item mb-40 text-right">

        <div class="alert alert-secondary fw-bold fs-1">
            كيفية ارجاع المنتج ؟
        </div>

        <div class="accordion-collapse collapse show ">
            <div class="accordion-body">
                <h2> للمستهلك الحق في استبدال السلعة أو إعادتها مع استرداد قيمتها النقدية ، دون إبداء أي أسباب ودون تحمل أي نفقات خلال أربعة عشر يوماً من تسلمها وذلك بشرط أن تكون السلعة بالحالة التي كانت عليها عند التعاقد (أي لم يتم فتحها أو استخدامها) - المادة رقم 17 من القانون .</h2>
            </div>
        </div>

    </div>

</div>