<!-- <div>
    <img src="{{dataM.location}}">
    <div class="body">
        <h4>{{dataM.productName}}</h4>
        <p>{{dataM.desc}}</p>
    </div>
    <div class="px-3 mb-2 d-flex justify-content-between align-dataMs-center">
        <button class="btn btn-success">Add To Cart</button>
        <span>{{dataM.price}} L.E</span>
    </div>
</div> -->

<div class="data myelement" style=" margin-bottom :30px;">
    <div routerLink="/details/{{dataM.id}}">
        <img src="{{dataM.location}}" alt="">
    <div class="body text-right">
        <h4>{{dataM.productName}}</h4>
        <p>{{dataM.disc}}</p>
    </div>
    </div>
    
    <div class="px-3 mb-2 d-flex justify-content-between align-datas-center " style="padding-bottom:20px ;">
        <div class="d-flex w-50" *ngIf="addButton">
            <input type="number" min="1" class="form-control" [(ngModel)]="amount">
            <button class="btn ml-10" style="border-color: rgb(152,130,214); width: 70px;" (click)="add();addButton = false">اضافه</button>
        </div>
        <span class="text-center p-2" style="background-color:rgb(204, 194, 235);">{{dataM.sellingPrice}} ج.م</span>
        <button class="btn " style="border-color: rgb(152,130,214);" *ngIf="!addButton" (click)="addButton = true" >اضف الي العربة</button>

    </div>
    
</div>