        <!-- <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="assets/img/gallery/cover.png" class="d-block w-100" alt="...">
              </div>
             
            </div>
         
          </div>
          
<div class="row justify-content-center">
    <div class="col-xl-7 col-lg-8 col-md-10">
        <div class="section-tittle mb-10 mt-100 text-center wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
            <h2>الفئات</h2>
        </div>
    </div>
</div>
        <div class="popular-items pt-50">
            <div class="container-fluid">
                <div class="row">
				
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-popular-items mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                            <div class="popular-img">
                                <img src="assets/img/gallery/cooking.png" alt="">
                                <div class="img-cap">
                                    <span>مفروشات</span>
                                </div>
                                <div class="favorit-items">
                                 <a href="shop.html" class="boxed-btn"> تسوق الآن </a>
                             </div>
                         </div>
                     </div>
                 </div>
				 
                 <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-popular-items mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                        <div class="popular-img">
                            <img src="assets/img/gallery/cleaning.png" alt="">
                            <div class="img-cap">
                                <span>أدوات منزليه</span>
                            </div>
                            <div class="favorit-items">
                             <a href="shop.html" class="boxed-btn"> تسوق الآن </a>
                         </div>
                     </div>
                 </div>
             </div>

             <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-popular-items mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                    <div class="popular-img">
                        <img src="assets/img/gallery/television.png" alt="">
                        <div class="img-cap">
                            <span>اجهزة كهربائية</span>
                        </div>
                        <div class="favorit-items">
                         <a href="shop.html" class="boxed-btn"> تسوق الآن</a>
                     </div>
                 </div>
             </div>
         </div>

         <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-popular-items mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                <div class="popular-img">
                    <img src="assets/img/gallery/other.png" alt="">
                    <div class="img-cap">
                        <span>جميع المنتاجات</span>
                    </div>
                    <div class="favorit-items">
                        <a href="shop.html" class="boxed-btn"> تسوق الآن </a>
                    </div>
             </div>
         </div>
     </div>
 </div>
</div>
</div> -->


        <!-- Popular Items End -->
        <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="assets/img/gallery/cover.png" class="d-block w-100" alt="...">
              </div>
             
            </div>
         
          </div>
          
<div class="row justify-content-center">
    <div class="col-xl-7 col-lg-8 col-md-10">
        <div class="section-tittle mb-10 mt-100 text-center wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
            <h2>الفئات</h2>
        </div>
    </div>
</div>
        <!--? Popular Items Start -->
        <div class="popular-items pt-50">
            <div class="container-fluid">
                <div class="row">
				
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-popular-items mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                            <div class="popular-img">
                                <img src="assets/img/gallery/mattress4.jpg" alt="">
                                <div class="img-cap">
                                    <span>مفروشات</span>
                                </div>
                                <div class="favorit-items">
                                 <a  class="boxed-btn" routerLink="/mattress"> تسوق الآن </a>
                             </div>
                         </div>
                     </div>
                 </div>
				 
                 <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-popular-items mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                        <div class="popular-img">
                            <img src="assets/img/gallery/houseware2.jpg" alt="">
                            <div class="img-cap">
                                <span>أدوات منزليه</span>
                            </div>
                            <div class="favorit-items">
                             <a class="boxed-btn" routerLink="/houseware"> تسوق الآن </a>
                         </div>
                     </div>
                 </div>
             </div>

             <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-popular-items mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                    <div class="popular-img" >
                        <img src="assets/img/gallery/other.png" alt="">
                        <div class="img-cap">
                            <span>اجهزة كهربائية</span>
                        </div>
                        <div class="favorit-items">
                         <a  class="boxed-btn" routerLink="/electronics"> تسوق الآن</a>
                     </div>
                 </div>
             </div>
         </div>

         <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-popular-items mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                <div class="popular-img">
                    <img src="assets/img/gallery/house.jpg" alt="">
                    <div class="img-cap">
                        <span>جميع المنتاجات</span>
                    </div>
                    <div class="favorit-items">
                        <a  class="boxed-btn" routerLink="/products"> تسوق الآن </a>
                    </div>
             </div>
         </div>
     </div>
 </div>
</div>
</div>

